h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}



.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.container {
    display: grid;
grid-template-columns: 3fr 1fr;
gap: 20px;
padding: 0 15px;
}


.right{
    display: flex;
flex-direction: column;
align-content: center;
align-items: center;
gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
    border: 1px solid tomato;
    padding: 20px;
}

.gallery {
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 15px;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid tomato;
    cursor: pointer;
}

.gallery__image {
    width: 300px;
    height: 300px;
}


.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
    opacity: 1;
    pointer-events: initial;
}

.lightbox__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
    transform: scale(0.95);
    transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
    transform: scale(1);
}

.lightbox__image {
    display: block;
    /* width: auto;
    height: auto; */
    max-height: 100vh;
    max-width: 100vw;
}

.lightbox__button {
    position: absolute;
    top: 150px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--timing-function);
    outline: none;
    background-image: url('../images/icon-close.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.favoriteBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--timing-function);
    outline: none;
    background-image: url('../images/star.svg#star');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.favoriteBtn.checked{
    background-color: blue;
}

.lightbox__button:hover,
.lightbox__button:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.modalCard{
    width: 1000px;
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}