h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}



.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.gallery__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid tomato;
    cursor: pointer;
}
.gallery__image {
    width: 300px;
    height: 300px;
}

